// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Replai Color Pallet:
$preto: #363434;
$cinza: #5c5757;
$azul: #62929a;
$gelo: #efecec;

// App palette

$dark-blue: #363434;
$dark-gray: #5c5757;
$medium-blue: #62929a;
$medium-blue: #62929a;
$almost-white: #efecec;

