// Specific CSS for your home-page
#about-lai h2 {
  color: black;
  text-align: center;
  margin-bottom: 24px;
}

.container-accordion {
  width: 80%;
  margin: 50px auto;
  padding-top: 50px;
}


.container-steps {
	margin: 0px 200px;
}
