.container-user-dashboard {
  color: black;
  background-color: $dark-blue;
  padding: 40px 250px;
}

.dashboard-head{
  padding: 4px 12px;
}

.dashboard-card {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $dark-gray;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 3px auto;
  padding: 12px;
  text-decoration: none;
  color:white;
  p {
    margin-top: 0;
    margin-bottom: 0rem;
  }
  border-radius: 4px;

}

.hvr-grow {
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.04);
}

.icons{
  align-self:center;
}

.progress-icon{
  text-align:center;
  margin: 0px 4px;
}

.active-icon{

}

.inactive-icon{

}
