.container-user-dashboard {
  color: black;
  background-color: white;
  // padding: 40px 250px;
}

.dashboard-head{
  padding: 4px 12px;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  opacity: 0.8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  margin: 3px auto;
  padding: 30px 60px;
  width: 700px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: normal;
  }
  border-radius: 4px;
}

.card-expansive {
  flex: 1 1 auto;
  min-height: 5px;
  padding: 1.25rem;
  justify-content: center;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);

}

.hvr-grow {
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.04);
}

.icons{
  align-self:center;
}

.progress-icon{
  text-align:center;
  margin: 0px 4px;
}

.active-icon{

}

.inactive-icon{

}

.lai-content{

}
