<div>
<h1>Dados para <span class="text-secondary">"Câmara dos Deputados"</span><br></h1>
</div>
<div class="container-public-datum">
  <div class="public-datum">
    	<% @public_data.each do |dataset| %>
    		<div class="card-product rounded mb-3">

          <img src="https://via.placeholder.com/30" alt="">
          <div>
            <h2><%= dataset.name %></h2>
            <p><%= dataset.category %></p>
          </div>
        </div>
    	<% end %>
    </div>
      <img class="container-right" src='https://api.mapbox.com/styles/v1/mapbox/light-v10/static/-42.3992,-22.3201,5.57,0/300x200?access_token=pk.eyJ1IjoicGJyYWdhbWlyYW5kYSIsImEiOiJjazg5YzJva2EwNWZzM2ducnZlcGdvcXN6In0.NPUtKwAk2yFbBvv0ZYK1Kw'>
  </div>
</div>
