<div>
<h1>Resultado:<br></h1>
</div>
<div class="container-public-datum">
  <div class="public-datum">
    	<% @public_data.each do |dataset| %>
    		<div class="card-product rounded mb-3">

          <img src="https://via.placeholder.com/30" alt="">
          <div>
            <%= link_to public_datum_path(dataset) do %>
            <h2><%= dataset.name %></h2>  
            <p><%= dataset.category %></p>
            <% end %>
          </div>
        </div>
    	<% end %>
  </div>
</div>
