<div id="about-lai">
    <h2>Dúvidas sobre a Lei de Acesso à Informação? Saiba mais!</h2>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            Quem pode entrar com um pedido de acesso a informação?
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <i class="fas fa-chevron-down"></i>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Qualquer pessoa fisíca ou jurídica. É um direito sei assegurado pela Lei de Acesso a informação. O Art. 5º da lei registra que "É dever do Estado garantir o direito de acesso à informação, que será franqueada, mediante procedimentos objetivos e ágeis, de forma transparente, clara e em linguagem de fácil compreensão."
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            Qual prazo os órgãos responderem ao meu pedido?
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <i class="fas fa-chevron-down"></i>  
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
             O órgão ou entidade terá o prazo máximo de 20 (vinte) dias para disponibilizar a informação requerida. Esse prazo pode ser extendido por mais 10 (dez) dias mediante a justifica expressa, devendo o requerente ser avisado. 
          </div>
        </div>
      </div>
       <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            E se o órgão não me responder?  
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <i class="fas fa-chevron-down"></i>
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Você pode apresentar um recurso à autoridade superior no prazo de 10 dias. Se for necessário , é possível recorrer posteriormente à autoridade máxima do órgão. Por fim, se mesmo assim a resposta não for satisfatória, o solicitante pode recorrer à Controladoria Geral de seu Estado.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            É preciso justificar o pedido de acesso à informação?
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <i class="fas fa-chevron-down"></i>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Não. De acordo com o art. 10, § 8° da LAI, é proibido exigir que o solicitante informe os motivos de sua solicitação. Entretanto, o órgão/entidade pode dialogar com o cidadão para entender melhor a demanda, de modo a fornecer a informação mais adequada a sua solicitação.
          </div>
        </div>
      </div>
        <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            Os órgãos são obrigados a fornecer todo e qualquer dado?
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
              <i class="fas fa-chevron-down"></i>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Acesso à informação é a regra. Entretanto, são execeções à regra da transparência as informações classificadas como sigilosas. O artigo 25 da Lei regula quais informações podem ser consideradas sigilosas. 
          </div>
        </div>
      </div>
    </div>
  </div>
