<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560416313-414b33c856a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);">
  	<div class="container container-banner">
	    <h1>Dados públicos </h1>
	    <h1>devem ser <span id="banner-typed-text">públicos. </span></h1>
	    <p>deixando o governo mais transparente através da LAI.</p>
   	</div>
 </div>

