<div class="footer" style="background-color: #363434;">
	<%= link_to "#", class: "footer-logo" do %>
    <%= image_tag "logo-white.png" %>
    <% end %>
  <div class="footer-links">
  	<a href="#" target="_blank"><i class="far fa-envelope"></i>
  	<a href="#"><i class="fab fa-twitter"></i></a>
   	<a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <p>Idealized and coded at LeWagon © Batch#354</p>
</div>
