<!-- Modal -->
<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seu pedido de acesso a informação foi enviado!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A repLAI te ajuda a pressionar os órgãos para que você tenha acesso ao que é seu por direito. Dê uma olhada no nosso <%= link_to "twitter", "https://twitter.com/replaireplai", target: "blank" %>  <i class="far fa-smile-wink"></i> !</p>
        <p>Confira o inbox do seu e-mail! Te enviamos uma confirmação com algumas informações relevantes</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>



