<%= render 'shared/banner' %>
<div class="container-steps z-depth-1 my-5">

<!-- Section -->
<section>

	<h2 class="text-center">O repLAI quer facilitar o acesso aos dados públicos.</h2>
  <hr class="w-header my-4">
  <p class="lead text-center">
  	É um <span id="text-highlight">direito</span> seu!
    Use sem moderação.
	</p>
	 <p class="lead text-center text-muted pt-2 pb-3 mb-5">
  	Desejamos fomentar e resgatar a participação da sociedade civil organizada no debate público. Participe, cobre, opine e ajude a construir o Estado do Rio de Janeiro que queremos. Veja como:

	</p>

  <div class="row dark-grey-text">

    <div class="col-md-6 col-xl-4 mb-4">
      <div class="media">
        <div class="mr-4">
          <span class="text-primary"><i class="fas fa-search fa-2x"></i></span>
        </div>
        <div class="media-body">
          <h5 class="font-weight-bold">1. Pesquise</h5>
          <p class="text-muted">Primeiro procure em nosso banco de dados e em outras fontes as informações que você deseja ter acesso.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4 mb-4">
      <div class="media">
        <div class="mr-4">
          <span class="text-danger"><i class="fas fa-question fa-2x"></i></span>
        </div>
        <div class="media-body">
          <h5 class="font-weight-bold">2. Não encontrou?</h5>
          <p class="text-muted">A gente te ajuda a solicitar acesso aos dados diretamente ao órgão responsável através da Lei de Acesso à Informação(LAI).</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4 mb-4">
      <div class="media">
        <div class="mr-4">
          <span class="text-info"><i class="far fa-edit fa-2x"></i></span>
        </div>
        <div class="media-body">
          <h5 class="font-weight-bold">3. Crie seu pedido</h5>
          <p class="text-muted">Preencha o formulário de pedido de acesso à informação que a gente transforma ele no formato adequado da LAI.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4 mb-4">
      <div class="media">
        <div class="mr-4">
          <span class="text-warning"><i class="far fa-share-square fa-2x"></i></span>
        </div>
        <div class="media-body">
          <h5 class="font-weight-bold">4. Envie</h5>
          <p class="text-muted">Confirme as informações do seu pedido que a gente realiza o pedido pra você.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4 mb-4">
      <div class="media">
        <div class="mr-4">
          <span class="text-muted"><i class="far fa-clock fa-2x"></i></span>
        </div>
        <div class="media-body">
          <h5 class="font-weight-bold">5. Acompanhe</h5>
          <p class="text-muted">Confira no seu painel personalizado todos os pedidos de acesso à informação que você realizou. Fique de olho nos prazos!</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-xl-4 mb-4">
      <div class="media">
        <div class="mr-4">
          <span class="text-success"><i class="fas fa-bullhorn fa-2x"></i></span>
        </div>
        <div class="media-body">
          <h5 class="font-weight-bold">6. Recebeu? Compartilhe!</h5>
          <p class="text-muted">O órgão público te respondeu com os dados? Volta aqui e compartilhe, contribuindo para um Rio de Janeiro mais transparente.</p>
        </div>
      </div>
    </div>

  </div>
</div>
</section>









