<%= render 'shared/banner' %>
	<div class="container-steps z-depth-1 my-5">

  <!-- Section -->
  <section>
    
		<h2 class="text-center">O repLAI quer facilitar o acesso aos dados públicos.</h2>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted">
    	É um <span id="text-highlight">direito</span> seu!
  	</p>
  	  <p class="lead text-center text-muted pt-2 pb-3 mb-5">
    	Desejamos fomentar e resgatar a participação da sociedade civil organizada no debate público. Participe, cobre, opine e ajude a construir o Estado do Rio de Janeiro que queremos. Veja como:  
  	</p>

    <div class="row dark-grey-text">

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-primary"><i class="fas fa-search fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h5 class="font-weight-bold">Pesquise</h5>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-danger"><i class="fas fa-question fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h5 class="font-weight-bold">Não encontrou?</h5>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-info"><i class="far fa-edit fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h5 class="font-weight-bold">Crie seu pedido</h5>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-warning"><i class="far fa-share-square fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h5 class="font-weight-bold">Envie</h5>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-muted"><i class="far fa-clock fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h5 class="font-weight-bold">Acompanhe</h5>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-success"><i class="fas fa-bullhorn fa-2x"></i></span>
          </div>
          <div class="media-body">
            <h5 class="font-weight-bold">Recebeu? Compartilhe!</h5>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa doloremque laudantium.</p>
          </div>
        </div>
      </div>

    </div>

  </section>
  <!-- Section -->
  
</div>

</div>
<div class="container container-accordion">
   <%= render 'shared/accordion' %>
</div>

<!-- 	 <div class="container-img">
	 </div>
 -->
