 <%= render 'shared/banner' %>
 <div class="container-middle">
 		<%= image_tag "arrow.png", class: "container-img" %>
 </div>
 <div class="container-middle">
	<%= link_to "#", class: "container-img" do %>
    <%= image_tag "image.png" %>
  <% end %>
 </div>
