 <div class="container-steps z-depth-1 my-5">

  <!-- Section -->
  <!-- <section> -->

    <h2 class="text-center">Conheça a Lei de Acesso a Informação</h2>
    <hr class="w-header my-4">
       <p class="lead">
        Uma vez que toda informações gerada pela Administração Pública tem como fim atender finalidades públicas, elas pertemcem a sociedade. Se a informação é um bem público, ela deve estar acessível à sociedade.
        <br>
        <br>
        Essa premissa é regulamentada por lei. A <%= link_to "Lei nº 12.527", "http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2011/lei/l12527.htm", target: "blank" %> de 18 de Novembro de 2011, conhecida como Lei de Acesso à Informação (LAI), garante acesso a essas informações.

        <br>
        <br>
        A LAI estabelece procedimentos, prazos e obrigações para que a administração pública responda a pedidos de informações apresentados por qualquer pessoa, física ou jurídica, sem que seja necessária a apresentação de motivos para a solicitação. A lei vale para todos os órgãos públicos dos três poderes (Executivo, Legislativo e Judiciário), nos três níveis de governo (federal, estadual e municipal), tanto da administração direta como da indireta.
        <br>
        <br>
        Em resumo: o acesso a informação é um direito de toda cidadã e cidadão brasileiro, garantido na Constituição Federal e no artigo 19º da Declaração Universal dos Direitos Humanos.
      </p>
    </div>
<div class="container container-accordion">
   <%= render 'shared/accordion' %>
</div>
