.container-img {
	padding-left: 295px;
  width: 500px;
  position: relative;
}


.container-form {
	color: white;
	margin: auto;
	padding: 32px;
	width: 800px ;
  background-color: $dark-blue;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.4);
  margin: 20px auto;

}

.container-form h1 {
  margin-bottom: 24px;
  text-align: center;
}

.container-form label {
  margin-bottom: 0px;
}

.container-form input {
  border-radius: 5px;
}
.container-form select {
  border-radius: 5px;
}
.container-form textarea {
  border-radius: 5px;
}


.container-form-upload {
	color: white;
  background-color: $dark-blue;
  padding: 70px;
}

.container-public-datum {
	display: flex;
	color: white;
	height: 100%;
  background-color: $dark-blue;
  padding: 15px;
  justify-content: space-evenly;
}

.public-datum{
	padding: 4px;
}

.public-datum h2, h3 {
  padding-top: 16px;
}

.public-datum p{
  padding: 10px;
}

.container-right {
}

.container-comentario {
	padding: 16px;
}
