.container-middle {
	height: 800px;
	display: flex;
  align-items: center;
}

.container-img {
	padding-left: 295px;
  width: 500px;
  position: relative;
}


.container-form {
	color: white;
	padding: 32px;
	height: 100%;
  background-color: $dark-blue;
}


.container-form-upload {
	color: white;
  background-color: $dark-blue;
  padding: 70px;
}

.container-public-datum {
	display: flex;
	color: white;
	height: 100%;
  background-color: $dark-blue;
  padding: 15px;
  justify-content: space-evenly;
}

.public-datum{
	padding: 4px;
}

.public-datum h2, h3 {
  padding-top: 16px;
}

.public-datum p{
  padding: 10px;
}

.container-right {
}

.container-comentario {
	padding: 16px;
}