html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #363434;
  background-size: cover;
  text-align: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 36px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.1;
}

.footer {
  p, h2 {
	 color: white;
  }
}

.footer-logo img {
  width: 50px;
  padding-left: 0;
}
