.test {
	font-size: 20px;
}

.block_radio_button_collection {
  display: block;
  margin-left: 20px;
}


.custom_label {
  font-family: "Work Sans", "Helvetica", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.buttons {
  margin-top: 30px;
}

.container_check {
  margin-top: 24px;
}


.anonimo_check {
  border-radius: 5px;
}
