.navbar-replai {
	display: flex;
  padding: 90px 100px 0 30px ;
  position: absolute;
  align-items: center;
}

.navbar-menu {
	justify-content: right;
	text-decoration: none;
	flex-grow: 1;
	
}


.navbar-replai li {
  list-style: none;
  justify-content: space-between;
	display: inline-block;
	align-items: center;
}


.nav-link  {
 text-decoration: none;
 color: white;
 text-transform: uppercase;
 font-size: 18px;
 position:relative;
}


.nav-link:hover::after {
	color: white;
	text-decoration: none;
	content:'';
  position:absolute;
  width: 100%;
  height: 0;    
  left:0;
  bottom:2px; /*Change this to increase/decrease distance*/
  border-bottom: 3px solid #000;
}

.navbar-replai .navbar-brand img {
  width: 100px;
  padding-left: 0;
}


